<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >  
<suite name="Suite1" verbose="1" >
 <listeners>
		<listener class-name="com.smarttech.listnerPage.TestListner" />
</listeners> 
  <test name="FunctionalTest" >
    <classes>
       <class name="st.ny.myrunnerTest.MyRunner"/>
    </classes>
  </test>
</suite>
